---
BasedOnStyle: LLVM
ColumnLimit: 0
TabWidth: 2
AccessModifierOffset: -2
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  BeforeCatch: true
  BeforeElse: true
ContinuationIndentWidth: 0
...

